body{
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

/*remove margins and padding from left and right side of site*/
.row{
    margin-left: 0;
    margin-right: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
    margin: 0
}

/*Links*/
a, a:focus, a:visited, a:link{
    color:#B82601;
    text-decoration: none;
}

/* main menu */
.main-menu ul{
    height: 60px;
    margin-bottom: 0;
    padding-top:20px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: right;
    word-spacing: 10px;
}

.main-menu li{
    display: inline-block;
}

/*Header */
.header{
    /*width: 100%;*/
    min-height:1080px;
    background-color: #062f4f;
    background-image: url("../images/bg-header.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover ;
    margin-top: 0;
    padding-top: 15%;
}

.picture-of-me{
    border: 5px solid #ffffff;
    border-radius: 50%;
    width: 250px;
    margin: auto 20%;
    padding: 3px;
}

.my-logo{
    width: 450px;
}

.header-text{
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

/*Section title*/
.section-title {
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

/*About me*/
.info-about-me{
    min-height: 500px;
}

.about-me-button{
    margin-bottom: 40px;
}

.about-me-button-link{
    width: 150px;
    margin-top: 50px;
    border: solid 2px #B82601;
    border-radius: 10px;
    background-color:#ffffff;
    color: #B82601;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 5px 20px;
}

.about-me-button-link:hover{
    background-color: #F0A86C;
}

.text-about-me{
    margin-bottom: 50px;
    text-align: justify;
    padding: 0 5%;

}

/*Achievements*/
.achievements-icons{
    max-width: 90%;

}
.achievements-icons figure{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

}

.achievements h5{
    text-align: center;
    font-weight:  bold;
}
.achievements-icons img{
    width: 75px;
    margin: 10px;
}

/*Portfolio*/
.my-portfolio {
    margin-top: 20px;
    background-color: #062f4f;
    padding-bottom: 50px;
}

.my-portfolio a{
    color: #ffffff;
}

.portfolio-img{
    width: 300px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
}

.portfolio-img:hover{
    border: 2px solid #B82601;
}

.my-portfolio h2{
    color: #ffffff;
}

.portfolio-description{
    margin-bottom: 30px;
}

.portfolio-item-title{
    width: 200px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    padding: 2px;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}

.portfolio-item-info{
    color: #ffffff;
    text-align: center;
}

/*Contact*/
.contact-info{
    font-size: 1.3em;
    padding-top: 20px;
    padding-left: 50px;
}

/*Footer*/
footer{
    height: 50px;
    margin-top: 50px;
    padding-top: 10px;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
}

/*Media Queries*/
@media screen and (min-width: 1367px){
    .header-text{
        font-size: 40px;
        font-weight: bold;
    }

}


@media all and (max-width:1366px) {
    body{
        font-size: 18px;
    }

    .my-logo img {
        margin-top: 0;
        width: 700px;
    }

    .header-text{
        font-size: 30px;
    }

    /* header height on small screen*/
    .header {
        width: 100%;
        min-height: 769px;
    }
    .contact-info{
        padding-left: 5px;
    }
}

@media all and (max-width:360px) {

   .picture-of-me{
       margin-top: 75px;
       width: 200px;
   }
   .header-text{
       font-size: 18px;
   }

   .contact-info{
       padding-left: 5px;
   }

   address{
       font-size: 0.8em;
   }
}