

body{
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #A22101;

}

a:hover{
    color: rgba(184, 38, 1, 0.77);

}
.container{
    width: 100%;


}

.section-title{
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
}

/*Header*/
header{
    background: url("../images/bg-header.jpg");
    background-attachment: fixed;
    background-size: cover;

    min-height: 1080px;

}
/*Logo and H1 Text*/
.header-content{
    text-align: center;

    color: black;


}

.header-content h1{
    text-shadow: 1px 1px #3e383b;


}

.header-content img {
    padding-top: 7%;
    max-width: 70%;
}


/*Main menu*/
.main-menu{
    color: #ffffff;

}
.main-menu ul{
    margin-top: 0;
    background-color: #242929;
    mi-height: 50px;
}

.main-menu ul li{
    display: inline;
    line-height: 2em;


}

.main-menu a{
    color: #ffffff;
    word-spacing: 10px;
    padding-left: 10px;

}

.main-menu a:hover{
    color: #78726b;
    word-spacing: 10px;
    padding-left: 10px;

}

/*About me*/
.about-me {


}

.about-me-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1%;

}


.about-me-img img{
    max-width: 300px;
    border: 3px solid #A22101;
    border-radius: 50%;
    padding: 4px;
}


.about-me-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width:69%;
    text-align: justify;
    padding-left: 1%;


}

.about-me-button {
    border: 2px solid #A22101;
    border-radius: 5px;
    color: #A22101;
    padding: 5px 10px;
}

/**/
.achievements-items{
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;

}

.achievements{
    margin-bottom: 5%;
}
.achievements-title{
    text-align: center;
}
.achievements img{
    width: 150px;
}

/*Portfolio*/
.portfolio{
    color: #ffffff;
    background-color: #062f4f;
    min-height: 500px;
    padding-bottom: 5%;
}

.portfolio-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio-item{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    width: 30%;
    flex-wrap: wrap;

}
.portfolio-item-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.portfolio-item-title{
    text-transform: uppercase;
    margin: 0;
}
.portfolio-item-img img{
    width: 300px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 2px;
}
.portfolio-item-img img:hover {
    border: 2px solid #A22101;
    border-radius: 5px;

}

/*Contact*/
.contact-content{
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 5%;
}

/*Footer*/
footer{
    background-color: #242929;
    color: #ffffff;
    text-align: center;
}

/*----- Media Queries -----*/

/*Extra Large Screen*/
@media screen and (min-width: 1200px){
    header {
        min-height: 100vh;
    }
    header h1{
        font-size: 2em;
    }
    .header-content img {

        max-width: 70%;
    }

}

/*Large Screen*/
@media screen and (min-width: 992px) and (max-width: 1199px){
    header{
        min-height: 100vh;

    }
}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px){
    header{
        min-height: 100vh;
    }

    .about-me-img img{
        max-width: 200px;
    }
    .portfolio-items{
        align-content: center;
        justify-content: space-between;
    }

    .portfolio-item img{
        width: 220px;
    }
}
/*Small screen*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    header {
        min-height: 100vh;

    }

    .main-menu ul {
        padding-left: 0;
    }

    .main-menu ul li {
        display: block;
        text-align: center;

    }

    .about-me-content {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .about-me-text {
        max-width: 95%;
    }

    .about-me-img {
        max-width: 100%;

    }

    .about-me-img img {
        max-width: 200px;
    }

    .portfolio-items{
        flex-direction: column;
        align-items: center;
    }

    .portfolio-item{
        width: 80%;
    }
    .portfolio-item-title{
        margin-top: 1%;
        padding-bottom: 1%;
    }

    .portfolio-item p{
        margin-top: 1%;
        padding-bottom: 5%;
    }

    .portfolio-item img{
        width: 200px;
    }

}
/* Extra Small Screen*/
@media screen and (max-width: 575px) {
    header {
        min-height: 100vh;

    }

    .main-menu ul {
        padding-left: 0;
    }

    .main-menu ul li {
        display: block;
        text-align: center;

    }

    .about-me-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-me-text {
        max-width: 95%;

    }

    .about-me-img img {
        max-width: 200px;
    }

    .portfolio-item-img img {
        width: 200px;
    }

    .portfolio-items{
        flex-direction: column;
        align-items: center;
    }

    .portfolio-item{
        width: 80%;
    }

    .portfolio-item p{
        margin-top: 1%;
        padding-bottom: 5%;
    }


}



