
body{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;

}

/*remove margins and padding from left and right side of site*/
.row{
    margin-left: 0;
    margin-right: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
    margin: 0
}

/*Links*/
a, a:focus, a:visited, a:link{
    color:#B82601;
    text-decoration: none;
}

/* main menu */
nav{
    box-shadow: 0 0 10px black;
}

.navbar-my-brand{
    display: block;
}
.navbar-my-logo{
    display: none;
}
.navbar-my-logo img{
    max-height: 40px;
}
.main-menu ul{
    height: 60px;
    margin-bottom: 0;
    padding-top:20px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: right;
    word-spacing: 10px;
}

.main-menu li{
    display: inline-block;

}

li.nav-item{
    padding-left: 20px;
    text-transform: uppercase;
}

/*Header */
.header{
    min-height: 100vh;
    background-color: #062f4f;
    background-image: url("../images/bg-header.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover ;
    margin-top: 0;
    overflow: hidden;
}

.picture-of-me{
    border: 5px solid #ffffff;
    border-radius: 50%;
    width: 200px;
    padding: 3px;
    display: none;
}

.my-logo{
    width: 220px;
    position: relative;
    left: -1500px;
}

h1.header-text{
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    right: -1500px;
}

/*Section title*/
.section-title {
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 40px;
}

/*About me*/
.info-about-me{
    min-height: 500px;
}

.about-me-button{
    margin-bottom: 40px;
}

.about-me-button-link{
    width: 150px;
    margin-top: 50px;
    border: solid 2px #B82601;
    border-radius: 10px;
    background-color:#ffffff;
    color: #B82601;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 5px 20px;
    transition-duration:0.5s;
}

.about-me-button-link:hover{
    background-color: #B82601;
    color: #ffffff;
}

.text-about-me{
    margin-bottom: 50px;
    text-align: justify;
    padding: 0 10%;

}

/*Achievements*/
.achievements-icons{
    max-width: 90%;
}
.achievements-icons-left-panel{
    position: relative;
    left: -1500px;
}
.achievements-icons-right-panel{
    position: relative;
    right: -1500px;
}
.achievements-icons figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.achievements h5{
    text-align: center;
    font-weight:  bold;
}
.achievements-icons img{
    width: 75px;
    margin: 10px;
}
.achievements-description p{
    margin-bottom: 0;
}

/*Portfolio*/
.my-portfolio {
    margin-top: 20px;
    background-color: #062f4f;
    padding-bottom: 50px;
}

.my-portfolio a{
    color: #ffffff;
}

.portfolio-img{
    width: 220px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    transition-duration:0.5s;
}

.portfolio-img:hover{
    border: 2px solid #B82601;
    padding: 0;
}

.my-portfolio h2{
    color: #ffffff;
}

.portfolio-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 0% 10%;
    
}
.portfolio-row-1,  .portfolio-row-2, .portfolio-row-3{
    opacity: 0;
    transition-duration:1s;
}

.portfolio-item-title{
    width: 200px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    padding: 2px;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}

.portfolio-item-info{
    color: #ffffff;
    text-align: center;
}



/*Footer*/
footer{
    height: 50px;
    margin-top: 50px;
    padding-top: 10px;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
}

.scroll-to-top-btn{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 50px;
    cursor: pointer;
    display: none;
}

/*----------------------Media Queries----------------------*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px){
    .picture-of-me{
        width: 280px;
    }
    .my-logo{
        width: 320px;
    }

    h1.header-text{
        font-size: 25px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .picture-of-me{
        width: 300px;
    }
    .my-logo{
        width: 370px;
    }

    h1.header-text{
        font-size: 35px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {


}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}